/*
 * Copyright 2019 Lars Niedziolka
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.memorytable {
  width: 100%;
  background-color: lightgray;
}

.memorytable button {
  background-color: lightgreen;
  width: 100%;
}

.memorytable .key {
  text-align: center;
  font-weight: bold;
}

.memorytable .value {
  text-align: end;
}

.memorychart {
  margin-top: 1em;
  position: relative;
  width: 100%;
  min-height: 5em;
  background-color: lightgray;
}
